<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Connect</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <img class="logo" src="/img/logo.png" alt="">
                <h2>Talk to SRMITES</h2>
                <div class="online-status">100+ online now</div>
            </div> 
        </nav>
    </header>
    <main>
    <div class="main-container">
         

    <h2 class="monitored-text">Video is monitored. Keep it clean</h2>
    <div class="action-container">
        <p class="start-chat">Start Chatting</p>
        <div class="button-container">
            <button class="action-button">
                <a href="/chat">Text Chat</a>
            </button>
            <button class="action-button">
                <a href="/video_chat">Video Chat</a>
            </button>
        </div>
    </div>
    </div>  
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>